<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="icon" href="../img/EstGaf.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style_cont.css">
</head>
<body>
    <header>
        <img src="../img/LOGO estacion grafica actualizado.png" alt="Logotipo de Estación Gráfica">
        <div>
          <h1>Contacto</h1>
        </div>
    </header>
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="noticias.html">Noticias</a>
        <a href="quienes_somos.html">Quienes somos</a>
        <a href="servicios.html">Servicios</a>
        <a href="Contacto.html">Contacto</a>
    </nav>
    <main>
        <form action="" method="post">
            <label for="fname">Nombre</label>
            <input type="text" name="nombre" id="fname">
            <label for="apell">Apellido</label>
            <input type="text" name="apellido" id="apell">
            <label for="correo">E-mail</label>
            <input type="email" name="correo" id="correo">
            <label for="celular">Teléfono</label>
            <input type="text" name="Teléfono" id="celular">
            <textarea name="" id="" cols="30" rows="10">Puede dejarnos un mensaje aquí.
            </textarea>
            <input type="file" name="archivo" value="Seleccionar archivo">
            <input type="submit" value="Enviar">
        </form>
       
        <div class="con_acord">
          <h3>Preguntas frecuentes:</h3>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  ¿Cuanto cuesta un corte laser?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Para armar un presupuesto se requiere un archivo.</strong> La complejidad del diseño determinará en gran medida el valor final. 
                  Cuando recibimos un archivo en formato vectorial (Corel, pdf, dxf, eps, etc...) podemos calcular
                  el tiempo que tardaría la maquina en cortarlo y su costo. 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ¿Trabajan para el gremio?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Trabajamos para el gremio.</strong> Y tambien para el público en general, aunque en menor medida.
                  No obtante tratamos de asesorar a todos los clientes en función de sus necesidades.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ¿Cortan maquetas en el momento?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Usualmente no.</strong> Los tiempos de entrega se pactan en funcion de la complejidad
                   , asi como de la cantidad de trabajos tomados hasta ese momento. 
                </div>
              </div>
            </div>
          </div>
        
       </div>
    </main>
    <footer>
        <p>
            La Web de Estación Gráfica fue creada para publicar
            servicios y noticias relacionados con la comunicación e 
            industria grafica. 
        </p>
        <p>
            Copyright 1999-2023 by Estación Gráfica.
        </p>
        <img src="../img/LOGO estacion grafica actualizado.png" alt="Logotipo de Estación Gráfica">
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>