<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="stylesheet" href="../css/style_cont.css">
    <link rel="icon" href="../img/EstGaf.png">
</head>
<body>
    <header>
        <img src="../img/LOGO estacion grafica actualizado.png" alt="Logotipo de Estación Gráfica">
        <div>
          <h1>Noticias</h1>
        </div>
    </header>
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="noticias.html">Noticias</a>
        <a href="quienes_somos.html">Quienes somos</a>
        <a href="servicios.html">Servicios</a>
        <a href="Contacto.html">Contacto</a>
    </nav>
    <div class="principal">
      <aside>
            <ul>
                <li><a href="#b1">¿Cuales son las ventajasdel grabado laser?</a></li>
                <li><a href="#b2">TRIMARCHI sale de gira</a></li>
                <li><a href="#b3">El avión de los carteles en la playa</a></li>
            </ul>
      </aside>  
      <main>
        <article>
            <h2 id="b1">¿Cuales son las ventajas del grabado laser?</h2>
            <img src="../img/cortelaser.jfif" alt="cabezal laser">
            <p>El grabado a láser es un proceso que vaporiza los 
               materiales en forma de rayos para grabar marcas 
               permanentes y profundas. El rayo láser actúa como 
               un cincel, grabando marcas al eliminar capas de la 
               superficie del material.
            </p>
            <p>
                El grabado con láser es la técnica que utiliza 
                láseres para grabar un objeto. El láser que 
                marca, por otro lado, es una categoría más 
                amplia de métodos para dejar marcas en un objeto, 
                el cual también incluye cambio de color debido 
                a alteración/molecular química, espumando, 
                fundiendo, ablación, y más. La técnica no implica 
                el uso de tintas, ni puntas qué hacen contacto 
                con la superficie para poder grabar, dándole una 
                ventaja sobre grabado o tecnologías de marcando 
                donde tintas o puntas tienen que ser reemplazadas 
                regularmente.
            </p>
            <p>
                El impacto del láser que marca ha sido más importante 
                en materiales "laserables" diseñados para usar un láser. 
                Estos incluyen polímeros sensibles al láser y aleaciones 
                de metal novel.
            </p>
            <h3>Ventajas</h3>
            <ul>
                <li>Adecuado para muchos materiales (madera, vidrio, textiles, papel, metal, plásticos, etc.)</li>
                <li>El material no necesita ser sujetado. Procesamiento sin contacto.</li>
                <li>No hay desgaste de herramientas.</li>
                <li>Muy alta precisión.</li>
                <li>Económico para piezas individuales y series.</li>
            </ul>
        </article>
        <br><br>
        <article>
            <h2 id="b2">TRIMARCHI sale de gira</h2>
            <img src="../img/TRIMARCHI-471.jpg" alt="Personas referentes del TRIMARCHI">
            <p>Trimarchi sale de gira y este año no se realizará en Mar del Plata
            Después de haber celebrado dos décadas, en septiembre la convención de diseño se trasladará a España y en el 2024 pretende volver al Estadio Polideportivo.
            Después de haber celebrado dos décadas en el Estadio Polideportivo, Trimarchi este año no se realizará en Mar del Plata. Sus organizadores apostaron por salir de gira y realizar la convención de diseño en septiembre en Madrid, España. “Este 2023 cruzamos el Atlántico con el evento, y el 2024 volvemos a copar ese estadio con la pandilla nerd más prendida de la zona”, anunciaron desde la organización.
            En el cierre del año pasado los organizaciones habían deslizado la posibilidad de que este 2023 el evento se realizara en otra parte del mundo para compartir sus inquietudes con otras comunidades. Ahora, a través de un posteo en sus redes sociales confirmaron que, por primera vez, Trimarchi se realizará el 30 de septiembre en Madrid, España.
            </p>
        </article>
        <br><br>
        <article>
            <h2 id="b3">El avión de los carteles en la playa</h2>
            <img src="../img/avion_carteles.jfif" alt="El avión de los carteles">
            <p>Un avión irrumpe sobre la panorámica de la playa en pleno verano. Bajo el sol, miles de personas oyen el rugido del motor, alzan la mirada al cielo y descubren a uno de los aviones que sobrevuelan la costa de Mar del Plata y llevan los tradicionales carteles publicitarios. La imagen es una postal impregnada en el imaginario colectivo, pero en realidad es el resultado final de un duro y caluroso trabajo en tierra y aire que se repite hace 50 años gracias al éxito de una publicidad no tradicional que todos ven, aunque pocos conocen cómo se vive desde adentro.
                
            </p>
        </article>
      </main>
    </div>  
    <footer>
        <p>
            La Web de Estación Gráfica fue creada para publicar
            servicios y noticias relacionados con la comunicación e 
            industria grafica. 
        </p>
        <p>
            Copyright 1999-2023 by Estación Gráfica.
        </p>
        <img src="../img/LOGO estacion grafica actualizado.png" alt="Logotipo de Estación Gráfica">
    </footer>
</body>
</html>