<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
    <link rel="stylesheet" href="../css/style_cont.css">
    <link rel="icon" href="../img/EstGaf.png">
</head>
<body>
    <header>
        <img src="../img/LOGO estacion grafica actualizado.png" alt="Logotipo de Estación Gráfica">
        <div>
          <h1>Quienes somos</h1>
        </div>
    </header>
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="noticias.html">Noticias</a>
        <a href="quienes_somos.html">Quienes somos</a>
        <a href="servicios.html">Servicios</a>
        <a href="Contacto.html">Contacto</a>
    </nav>
    <main class="identidad">
       <p>A lo largo de los años varias generaciones de la familia Curci se 
        han dedicado al oficio gráfico. Vinculado particularmente a la cartelería 
        y arte publicitario. Estación Gráfica hereda la experiencia, compromiso y 
        dedicación, que se contituyen en herramientas invaluables al 
        momento de resolver problemas de comunicación. 
        Con espíritu innovador y creativo busca brindar soluciones rapidas y 
        efectivas a sus clientes.  
       </p> 
    </main>
    <footer>
        <p>
            La Web de Estación Gráfica fue creada para publicar
            servicios y noticias relacionados con la comunicación e 
            industria grafica. 
        </p>
        <p>
            Copyright 1999-2023 by Estación Gráfica.
        </p>
        <img src="../img/LOGO estacion grafica actualizado.png" alt="Logotipo de Estación Gráfica">
    </footer>
</body>
</html>