<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../css/style_cont.css">
    <link rel="icon" href="../img/EstGaf.png">
</head>
<body>
    <header>
        <img src="../img/LOGO estacion grafica actualizado.png" alt="Logotipo de Estación Gráfica">
        <div>
          <h1>Servicios</h1>
        </div>
    </header>
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="noticias.html">Noticias</a>
        <a href="quienes_somos.html">Quienes somos</a>
        <a href="servicios.html">Servicios</a>
        <a href="Contacto.html">Contacto</a>
    </nav>
    <div class="principal">
      <aside>
            <ul>
                <li><a href="#a1">Grabado y corte laser</a></li>
                <li><a href="#a2">Plotter de corte e impresión</a></li>
                <li><a href="#a3">Letras corporeas y cortes en Polyfoam</a></li>
            </ul>
      </aside>  
      <main>
        <article>
            <h2 id="a1">Corte y grabado laser</h2>
            <iframe src="https://www.youtube.com/embed/1CM6AQVq_aQ" title="Grabado y corte láser en madera: ¿cómo funciona la máquina LS100? | Gravotech" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
        <br><br>
        <article>
            <h2 id="a2">Vinilos de corte e impresión</h2>
            <iframe src="https://www.youtube.com/embed/ohI23g2mWvA" title="Impresión con vinilo de corte: cómo funciona" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
        <br><br>
        <article>
            <h2 id="a3">Cortes en Polyfoam</h2>
            <iframe src="https://www.youtube.com/embed/qS0f3Ourtts" title="CNC Corte de Polyfan con hilo caliente equipo dual polifan porex poliexpan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               
        </article>
      </main>
    </div>  
    <footer>
        <p>
            La Web de Estación Gráfica fue creada para publicar
            servicios y noticias relacionados con la comunicación e 
            industria grafica. 
        </p>
        <p>
            Copyright 1999-2023 by Estación Gráfica.
        </p>
        <img src="../img/LOGO estacion grafica actualizado.png" alt="Logotipo de Estación Gráfica">
    </footer>
</body>
</html>